<ion-pane>
  <ion-header-bar class="bar-calm" align-title="center">
    <div class="buttons">
      <button class="button button-icon ion-ios-minus-outline" ng-click="vm.showDelete = !vm.showDelete; vm.showMove = false;"></button>
    </div>

    <h1 class="title">Picmonic Soundboard</h1>

    <div class="buttons">
      <button class="button" ng-click="vm.showMove = !vm.showMove; vm.showDelete = false;">Move</button>
    </div>

  </ion-header-bar>
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshSoundList()">
    </ion-refresher>

    <ion-list show-delete="vm.showDelete" show-reorder="vm.showMove">
      <ion-item ng-repeat="sound in vm.sounds" ng-click="play(sound)" class="item-thumbnail-left item-icon-right">


        <img src="{{sound.image}}" alt=""/>
        <h2>{{sound.title}}</h2>
        <i class="icon ion-volume-high"></i>

        <ion-delete-button ng-click="deleteItem($index)" class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button on-reorder="moveSound(sound, $fromIndex, $toIndex)" class="ion-navicon"></ion-reorder-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-pane>
